:root {
    --primary: #F1FFFA;
    --primary-hover: #2191FB;
    --primary-active: #2191FB;
    --font-color: #222725;
    --secondary: #d4e1dc;
}

body {
    padding: 0;
    margin: 0 ;
    display: flex;
}

a {
    text-decoration: none;
    padding: 0px;
}