.nav-scrollable {
    width: 100%;
    align-content: center;
}

.nav-item {
    display: flex;
    padding: 10px;
    background-color: var(--primary-hover);
    margin: 5px;
    border-radius: 25px; 
        
}
.nav-link {
    text-decoration: none;
}