<div class="nav-scrollable">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <a href="/Patients" class="btn-nav">Patienter</a>
        </div>

        <div class="nav-item px-3">
            <a href="/Practitioners" class="btn-nav">Behandlere</a>
        </div>

        <div class="nav-item px-3">
            <a href="/Appointment" class="btn-nav">Aftaler</a>
        </div>

        <div class="nav-item px-3">
            <a href="/Campaigns" class="btn-nav">Kampagner</a>
        </div>

        <div class="nav-item px-3">
            <a href="/Financials" class="btn-nav">Økonomi</a>
        </div>

    </nav>
</div>
