<div class="nav-scrollable">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <a href="/Home" class="btn-nav">Home</a>
        </div>

        <div class="nav-item px-3">
            <a href="/Appointment" class="btn-nav">Appointments</a>
        </div>

        <div class="nav-item px-3">
            <a href="/Financials" class="btn-nav">Financials</a>
        </div>


    </nav>
</div>