.nav-scrollable[b-anr8ipptmn] {
    width: 100%;
    align-content: center;
}

.nav-item[b-anr8ipptmn] {
    display: flex;
    padding: 10px;
    background-color: var(--primary-hover);
    margin: 5px;
    border-radius: 25px; 
        
}
.nav-link[b-anr8ipptmn] {
    text-decoration: none;
}