@page "/Home"

<PageTitle>Home</PageTitle>

<div class="patients">
    <div class="top-bar">
        <p class="top-widget">Navn</p>
        <p class="top-widget">Fødselsdag</p>
        <p class="top-widget">Email</p>
        <p class="top-widget">Loyalty</p>
        <p class="top-widget">CPR</p>
        <input type="text" placeholder="Søg" class="search-input" />
    </div>

    <div class="patient-group">
        <p class="empty-state">Ingen patienter fundet</p>
    </div>
</div>

<button class="fab">+</button>

@code {
}