@page "/Patients"
@inject IPatientQueries PatientQueries
@inject IAddPatientUseCase AddPatientUseCase
@using BookSoft.Facade.Queries
@using BookSoft.Facade.UseCases
@using BookSoft.Facade.DTOs

<PageTitle>Patienter</PageTitle>

<div class="patients">
    <div class="top-bar">
        <p class="top-widget">Navn</p>
        <p class="top-widget">Fødselsdag</p>
        <p class="top-widget">Email</p>
        <p class="top-widget">Loyalty</p>
        <p class="top-widget">CPR</p>
        <input type="text" placeholder="Søg" class="search-input"
            
    </div>

<button>+</button>

